<!DOCTYPE html>
@model Profil
<html>
<head>
    <link rel="stylesheet" href="~/css/Profil.css">
    <link rel="stylesheet" href="~/css/Settings.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <i id="menuBtn" class="fa-solid fa-bars"></i>
    <div class="sideMenu">
        <img id="logoMenu" src="~/images/logoMenu.png" />
        <div id="butonMeniu">
            <a asp-controller="Profil" asp-action="Index">
                <p>Profil</p>
            </a>
        </div>
        <div id="butonMeniu">
            <p>For You</p>
        </div>
        <div id="butonMeniu">
            <p>New Travel Group</p>
        </div>
        <div id="butonMeniu">
            <p>Search Destination</p>
        </div>
        <div id="butonMeniu">
            <p>Find Accommodation</p>
        </div>
        <div id="butonMeniu">
            <p>Travel Map</p>
        </div>
        <div class="butoaneJos">
                <div id="butonMeniu">
                     <a asp-controller="Settings" asp-action="Index">
                        <p id="paginaCurenta">Settings</p>
                     </a>
                </div>
            <div id="butonMeniu" class="logoutBtn">
                <p>Logout</p>
            </div>
        </div>
    </div>
    <div id="setariPage">
        <h2 id="titluSet">Settings</h2>
        <div id="setBtn">
            <button id="ProfilSet">Profile</button>
            <button id="ConfSet">Privacy</button>
            <button id="Arhive">Arhive</button>
        </div>
        <div id="paginaProfilSet">
            <form method="post" enctype="multipart/form-data" asp-controller="Settings" asp-action="EditProfil">
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="User.FirstName" />
                <input type="hidden" asp-for="User.LastName" />
                <input type="hidden" asp-for="User.DateOfBirth" value="@Model.User.DateOfBirth.ToString("yyyy-MM-dd")" />
                <input type="hidden" asp-for="User.Email" />
                <div id="schimbaImagine">
                    <img id="previzualizare" src="@Model.ImagineProfil" />
                    <input name="ImagineProfil" type="file" id="ImagineProfil" accept="image/png, image/jpg, image/jpeg" />
                    <div id="pozeSet">
                        <label for="ImagineProfil" id="SelecteazaPoza">Select A Photo</label>
                        <input type="hidden" id="ResetImage" name="ResetImage" value="false" />
                        <label id="removeProfileImg">Delete Profile Photo</label>
                    </div>
                    <span asp-validation-for="ImagineProfil" class="text-danger"></span>
                </div>
                <br />
                <div id="inputUsername">
                    <label asp-for="User.UserName">Username</label>
                    <input asp-for="User.UserName" type="text" maxlength="50" />
                    <span asp-validation-for="User.UserName" class="text-danger"></span>
                </div>
      
                <br />
                <h5 id="bioh5">Bio</h5>
                <textarea asp-for="Bio" maxlength="255" value="@Model.Bio" placeholder="Bio"></textarea>
                <br />
                <button type="submit">Save Changes</button>
            </form>
            @section Scripts {
                <partial name="_ValidationScriptsPartial" />
            }
        </div>
        <div id="sectiuneSetariPrivacy">
            <div id="SetNouaParola">
                <h3>Change Password</h3>
                <input id="parolaCurenta" type="password"  placeholder="Current Password"/>
                <input id="parolaNoua" type="password" placeholder="New Password" />
                <input id="confirmareParola" type="password" placeholder="Confirm New Password" />
                <button type="submit">Update Password</button>
            </div>

            <div id="setariProfilePrivacy">
                <input type="hidden" id="hiddenProfilId" value="@Model.Id" />
                <div class="randButonActivare">
                    <span class="textBtn">Make Profile Private</span>
                    <label class="switch filled">
                        <input type="checkbox" name="isPrivate" @(Model.isPrivate ? "checked" : "")>
                        <span class="slider"></span>
                    </label>
                </div>

                <div class="randButonActivare">
                    <span class="textBtn">Disable Auto-Tag Suggestions</span>
                    <label class="switch filled">
                        <input type="checkbox" name="noTags" @(Model.autoTag ? "checked" : "")>
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="~/js/settings.js"></script>
</html>
